/* listaProdutos.module.css */

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.sortedProducts{
    margin: 15px;
    font-size: 1.5rem;
    color: black;
}

.sortedProducts select{
    font-size: 1.5rem;
    border-radius: 10px;
}

.productItem {
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px;
    text-align: center;
    transition: .3s;
}

.productItem:hover {
    scale: 1.05;
    transition: .3s;
}

.productImage {
    max-width: 60%;
    border-radius: 8px;
}

.productTitle {
    font-size: 1.2rem;
    margin: 12px 0;
}

.productPrice {
    font-size: 1rem;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paginationButton {
    background-color: #63009c;
    border: none;
    color: aliceblue;
    padding: 15px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.paginationButton:hover {
    background-color: #430069;
    scale: 1.2;
    transition: .5s;
}

@media (max-width: 768px) {
    .productItem {
        width: 100%;
        max-width: 300px;
    }
}