* {
    border: 0;
    margin: 0;
    padding: 0;
    transition: .1s;
}

footer {
    background-color: #63009c;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* position: relative; */
    margin-top: auto;
}

html, body {
    height: 100%;
    margin: 0;
  }



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63009c;
    padding: 10px 20px;
}

body {
    font-family: monospace;
    color: aliceblue;
    background-color: #ffffff;
    /* min-height: 100vh; */
}

body>*:not(footer) {
    min-height: calc(100vh);
    /* Altura mínima para o conteúdo principal */
    display: flex;
    flex-direction: column;
}

hr {
    background-color: #63009c;
    margin: 20px 0;
    width: 100%;
    height: 10px;
}

h1 {
    color: black;
}