.logo h1 {
    margin: 0;
    font-size: 24px;
}

.menuButton {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.navLinks {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navLinks li {
    margin: 0;
}

.navLinks li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navLinks li a:hover {
    text-decoration: underline;
}

/* Estilos Responsivos */

@media (max-width: 768px) {
    .menuButton {
        display: block;
    }

    .navLinks {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
        display: none; 
        align-items: center;
    }

    .navLinks li {
        margin: 10px 0;
    }

    .navLinks.open {
        display: flex;
    }
}
